<div class="articles-container">
  <% if @articles.any? %>
    <% @articles.each do |article| %>
      <%= render 'article', article: article %>
    <% end %>
  <% else %>
    <h2>No Articles</h2>
  <% end %>
</div>
