<div id="articles" class="articles-container">
  <% if @articles.any? %>
    <%= render partial: 'article', collection: @articles %>
  <% else %>
    <h2>No Articles</h2>
  <% end %>
</div>

<% if @pagy.next.present? %>
  <div id="next_link" class="more-articles">
      <%= button_to "More Articles", pagy_url_for(@pagy, @pagy.next), class: "btn" %>
  </div>
<% end %>
