<% content_for :title, @article.title %>

<h1><%= @article.title %></h1>

<h3><%= @article.sub_title %></h4>

<%= @article.content %>

<% if user_signed_in? %>
  <div class="btn-list">
    <%= link_to "Edit", edit_article_path(@article), class: "btn" %>
  </div>
<% end %>
