<div class="contact">
  <div id="taunton-map" style="width: 100%">
    <iframe width="500" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Taunton+(My%20Business%20Name)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
      <a href="https://www.gps.ie/">gps trackers</a>
    </iframe>
  </div>
  <div class="contact-means">
    <div class="contact-icons">
      <div class="icon-container">
        <a href="https://x.com/HarryVenables" target="_blank">
          <i class="fa-brands fa-2x fa-twitter"></i>
        </a>
        <a href="https://github.com/hvenables" target="_blank">
          <i class="fa-brands fa-2x fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/harry-venables-28109986" target="_blank">
          <i class="fa-brands fa-2x fa-linkedin"></i>
        </a>
      </div>
    </div>
    <%= render "form", contact: @contact %>
  </div>
</div>
