<div class="home-title">
  <div class="home-image-container">
    <%= image_tag "about_me_image.jpeg" %>
  </div>
  <div class="home-heading">
    <h1>Harry Venables</h1>
    <h3>Software Developer</h3>
  </div>
</div>
