.articles-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: $viewport-padding;
}

@media (max-width:768px)  {
  .articles-container {
    grid-template-columns: 1fr;
  }
}

.article {
  border-radius: 6px;
  border: 1px solid $text-gray;
  padding: 20px;
  color: $text-gray;
  overflow-x: hidden;
}

.article-title:hover {
  text-decoration: underline;
  text-decoration-color: $text-blue;
  text-decoration-thickness: 2px;
}

.article-heading {
  margin-top: 5px;
  margin-bottom: 5px;
}

.article-summary {
  display: block;
}

.article-link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.sub-title {
  color: #838990;
}

.article-container {
  display: flex;
  justify-content: center;

  div {
    max-width: 680px;

    img {
      width: 100%;
      object-fit: cover; /* Ensures the image covers the parent, even if it crops */
    }
  }
}

/* Article Form */
#article-form > .field > textarea {
  resize: none;
}

.article-summary-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:not(pre) {
  code {
    color: #e02b63;
    background-color: #1a1b26;
    padding: 3px !important;
    border-radius: 3px;
  }
}
