@use "variables.scss" as *;

.submit {
  padding: 10px;
}

.field {
  label {
    display: block;
    margin-bottom: 5px;
  }

  .checkbox-label {
    display: inline-block;
  }

  input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: $background-gray;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: 1px solid $text-gray;
    box-sizing: border-box;
  }

  input[type='checkbox'] {
    display: inline-block;
    width: inherit;
  }
}
