@use "variables.scss" as *;

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 100px;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  margin: 0;
  background-color: $background-gray;
  font-family: FiraCode, sans-serif;
  font-weight: 400;
  color: $text-gray;
}

#app > .content {
  display: grid;
  grid-template-columns: 1fr 70vw 1fr;
}

@media (max-width:768px)  {
  #app > .content {
    grid-template-columns: 1fr 92vw 1fr;
  }
}

.main-area {
  padding-bottom: 20px;
}

#app > footer {
  background-color: #183241;
}

.field {
  padding: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: $text-gray
  }

  i {
    padding-left: 10px;
    padding-right: 10px;
    transition: transform .7s ease-in-out;
  }

  i:hover {
    transform: rotate(360deg);
  }
}

.read-more {
  display: inline-block;
  transition: color 1s ease-out;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.read-more:hover {
  transition: color 0.5s ease-in;
  color: $text-blue;
}

