#app {
  header {
    background: rgba(12, 19, 28, 0.8);
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 70vw 1fr;
    grid-template-areas: 
      "left_gutter nav right_gutter";
  }
}

.nav-container {
  display: grid;
  grid-area: nav;
  grid-template-columns: 1fr auto;

}

@media (max-width:768px)  {
  #app {
    header {
      grid-template-columns: 1fr 92vw 1fr;
      justify-items: center;
    }
  }

  .logo {
    a {
      display: flex;
      justify-content: center;
    }
  }

  .nav-container {
    grid-template-columns: 1fr;
  }
}

.logo {
  min-width: 200px;

  a {
    text-decoration: none;
    h2 {
      color: $text-blue;
    }
  }
}

.nav-links {
  display: flex;
  min-width: 300px;
  height: 100%;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    padding: 0;

    li {
      list-style-type: none;
      padding: 10px;
      margin: 0 10px;

      a {
        text-decoration: none;
        color: $text-gray;
      }

      button {
        text-decoration: none;
        border: none;
        background: none;
        font-family: inherit;
        font-weight: 400;
        color: inherit;
        padding: 0;
        cursor: pointer;
        font-size: 100%;
      }
    }
  }
}
