@font-face {
  font-family: 'FiraCode';
  src: url('/assets/FiraCode-Regular.woff2') format('woff2'),
       url('/assets/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/assets/FiraCode-Bold.woff2') format('woff2'),
       url('/assets/FiraCode-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

$text-gray: rgb(191, 196, 201);
$text-blue: rgb(128, 159, 255);
$background-gray: rgb(18, 27, 40);
$viewport-padding: 32px;

@mixin bounce-animation($translateY1, $translateY2) {
  @keyframes bounce {
    @for $i from 0 through 100 {
      @if $i == 0 or $i == 20 or $i == 50 or $i == 80 or $i == 100 {
        #{$i}% {
          transform: translateY(0);
        }
      } @else if $i == 40 {
        40% {
          transform: translateY(-#{$translateY1});
        }
      } @else if $i == 60 {
        60% {
          transform: translateY(-#{$translateY2});
        }
      }
    }
  }
}
